:root {
  --color--bg: #1b1b1b;
  --color--grey: #acacac;
  --margin--section-bottom: 128px;
  --color--primary: #c5a65d;
  --color--offwhite: #e0e0e0;
  --untitled-ui--white: white;
  --untitled-ui--primary600: #7f56d9;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray900: #101828;
  --waves-library--white: white;
  --kütüp-library--dark-slate-grey-x: #2e5261;
  --kütüp-library--dark-slate-grey: #264653;
  --untitled-ui--gray700: #344054;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray50: #f9fafb;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--gray500: #667085;
  --waves-library--black: #131313;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  background-color: var(--color--bg);
  color: var(--color--grey);
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.container {
  color: var(--color--grey);
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.hero {
  margin-top: 64px;
  margin-bottom: var(--margin--section-bottom);
}

.about {
  margin-bottom: var(--margin--section-bottom);
}

.contact {
  background-image: linear-gradient(289deg, #c5a65d73, #fff0 46%), linear-gradient(#000c, #000c), url('../images/Thomas_071.webp');
  background-position: 0 0, 0 0, 40%;
  background-size: auto, auto, cover;
  padding-top: 128px;
  padding-bottom: 128px;
}

.footer-wrapper {
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-block.flex {
  justify-content: space-between;
}

.navbar {
  margin-top: 16px;
  margin-bottom: var(--margin--section-bottom);
  border: 1px none var(--color--primary);
  background-color: var(--color--bg);
}

.hero-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
}

.about-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
}

.service {
  margin-bottom: var(--margin--section-bottom);
}

.contact-grid {
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
}

.primary-button {
  background-color: var(--color--primary);
  padding: 12px;
  font-size: 16px;
}

.primary-button:hover {
  background-color: #ecc76f;
}

.body {
  text-decoration: none;
}

.heading-1 {
  color: var(--color--offwhite);
  max-width: 30ch;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 1.2;
}

.heading-1.nospace {
  margin-bottom: 0;
}

.heading-1.nospace.gold {
  color: var(--color--primary);
}

.span-grey {
  color: var(--color--grey);
}

.paragraph {
  color: var(--color--offwhite);
  max-width: 65ch;
  margin-bottom: 0;
  font-weight: 400;
}

.paragraph.price-name.multiple {
  margin-left: 24px;
  line-height: 1;
}

.paragraph.mb-32 {
  margin-bottom: 32px;
}

.paragraph.mb-32.grey {
  color: var(--color--grey);
}

.paragraph.mb-32.no-max-w {
  max-width: none;
}

.paragraph.gray {
  color: var(--color--bg);
}

.paragraph.mb-16 {
  margin-bottom: 16px;
}

.paragraph.list-item {
  background-image: url('../images/x-circle.svg');
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
}

.paragraph.list-item.tick {
  background-image: url('../images/check-circle-1.svg');
}

.paragraph.frame-quote {
  z-index: 2;
  background-image: linear-gradient(77deg, var(--color--primary), #e6da82);
  text-align: center;
  text-transform: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 20px;
  font-style: italic;
  line-height: 2;
  position: absolute;
}

.paragraph.small {
  font-size: 14px;
}

.heading-2 {
  color: var(--color--primary);
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 34px;
  line-height: 1.2;
}

.heading-2.mb-32 {
  margin-bottom: 32px;
}

.div-block {
  outline-color: var(--color--primary);
  outline-offset: 10px;
  background-image: url('../images/20240105-Thomas-Atelier-00021-1-min.jpeg');
  background-position: 50% 0;
  background-size: cover;
  border-radius: 50%;
  outline-width: 3px;
  outline-style: solid;
  width: 400px;
  height: 400px;
  margin-top: 13px;
  margin-left: 13px;
  overflow: hidden;
}

.logo {
  color: var(--color--primary);
  margin-bottom: 0;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 26px;
  font-weight: 400;
}

.nav-link {
  color: var(--color--offwhite);
  font-weight: 400;
}

.nav-link.w--current {
  color: var(--color--primary);
}

.image-2 {
  filter: brightness(91%);
}

.footer-title {
  color: var(--color--primary);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: var(--color--offwhite);
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
}

.div-block-17 {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  display: flex;
}

.footer {
  background-color: var(--color--primary);
  padding: 50px 30px;
  position: relative;
}

.footer-text {
  color: var(--color--offwhite);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.map-wrapper {
  min-height: 500px;
  position: relative;
}

.outline-nav {
  border: 3px solid var(--color--primary);
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 0;
  display: flex;
}

.inline-image {
  outline-color: var(--color--primary);
  outline-offset: 10px;
  background-image: url('../images/20240105-Thomas-Atelier-00022.jpeg');
  background-position: 0 0;
  background-size: auto;
  border-radius: 50%;
  outline-width: 3px;
  outline-style: solid;
  width: 500px;
  height: 500px;
  display: none;
  overflow: hidden;
}

.html-embed {
  width: 100%;
  height: 100%;
}

.impressum {
  margin-bottom: var(--margin--section-bottom);
  padding-top: 64px;
}

.pricing-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  margin-bottom: 64px;
}

.flex-h {
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  display: flex;
}

.flex-h.bg {
  background-color: #252525;
}

.span-white {
  color: var(--color--primary);
  font-size: 18px;
}

.heading-3 {
  color: var(--color--primary);
  max-width: 50ch;
  margin-top: 0;
  margin-bottom: 16px;
}

.price {
  color: #c5a65dcc;
  flex: none;
  margin-bottom: 0;
  font-size: 16px;
}

.price.multiple {
  line-height: 1;
}

.uui-navbar07_menu-button {
  padding: 0;
}

.uui-navbar07_button-wrapper {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  align-items: center;
  display: flex;
}

.uui-navbar07_menu-right {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.uui-navbar07_link {
  color: var(--untitled-ui--white);
  align-items: center;
  padding: .75rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
}

.uui-navbar07_link:hover, .uui-navbar07_link.w--current {
  color: var(--color--primary);
}

.uui-text-size-small {
  color: var(--color--offwhite);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.uui-navbar07_item-heading {
  color: var(--color--primary);
  margin-top: 0;
  margin-bottom: .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
}

.uui-navbar07_item-right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 400;
  display: flex;
}

.uui-icon-1x1-xsmall {
  color: var(--color--primary);
  width: 1.5rem;
  height: 1.5rem;
}

.uui-navbar07_icon-wrapper {
  color: var(--untitled-ui--primary600);
  flex: none;
}

.uui-navbar07_dropdown-link {
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  padding: .75rem;
  text-decoration: none;
  transition: all .3s;
  display: grid;
}

.uui-navbar07_dropdown-link:hover {
  background-color: var(--color--offwhite);
}

.uui-navbar07_dropdown-link-list {
  grid-column-gap: 0px;
  grid-row-gap: .5rem;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-navbar07_dropdown-list {
  box-shadow: 0 12px 16px -4px #00000014, 0 4px 6px -2px #10182808;
}

.uui-navbar07_dropdown-list.w--open {
  border: 1px solid var(--untitled-ui--gray200);
  background-color: var(--color--bg);
  border-radius: .75rem;
  width: 20rem;
  padding: .75rem;
  right: -100%;
}

.uui-dropdown-icon {
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  inset: auto 0% auto auto;
}

.uui-navbar07_dropdown-toggle {
  color: var(--untitled-ui--white);
  align-items: center;
  padding: .75rem 2.5rem .75rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
  display: flex;
}

.uui-navbar07_dropdown-toggle:hover {
  color: var(--color--primary);
}

.uui-navbar07_menu {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  display: flex;
  position: static;
}

.uui-logo_component {
  flex-wrap: nowrap;
  width: auto;
  display: flex;
}

.uui-navbar07_logo-link {
  padding-left: 0;
}

.uui-navbar07_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-navbar07_component {
  z-index: 1;
  border-bottom: 2px solid var(--color--primary);
  background-color: #ddd0;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  display: flex;
}

.pricing {
  margin-top: 64px;
  margin-bottom: var(--margin--section-bottom);
}

.call-button {
  background-color: var(--color--primary);
  color: #fff;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
  padding: 12px;
  text-decoration: none;
}

.call-button.is-secondary {
  border: 1px solid var(--color--primary);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #c5a65d00;
}

.div-block-12 {
  align-items: center;
  display: flex;
}

.text-block-2 {
  align-self: stretch;
  padding-left: 0;
  padding-right: 8px;
  font-size: 16px;
  line-height: 1.2;
}

.icon-button {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.contact-flex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.mail-button {
  background-color: var(--color--primary);
  color: #fff;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  text-decoration: none;
}

.mail-button.is-secondary {
  border: 1px solid var(--color--primary);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #c5a65d00;
}

.soical-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  margin-top: 32px;
  display: flex;
}

.social-icon {
  color: var(--color--primary);
  transition: color .2s;
}

.social-icon:hover {
  color: var(--color--offwhite);
}

.fs-cc-manager_button {
  color: #932a2e;
  cursor: pointer;
  background-color: #fff;
  border-radius: 999rem;
  flex-direction: column;
  padding: .625rem;
  transition: color .2s;
  display: flex;
}

.fs-cc-manager_button:hover {
  color: #4353ff;
}

.fs-cc-banner_close {
  opacity: 1;
  cursor: pointer;
  background-color: #fff;
  border-radius: 999rem;
  margin-left: .75rem;
  padding: .625rem;
  box-shadow: 1px 1px 12px #0000001a;
}

.fs-cc-prefs_space-small {
  margin-bottom: .75rem;
}

.fs-cc-banner_button {
  border: 2px solid var(--color--primary);
  background-color: var(--color--primary);
  color: #fff;
  text-align: center;
  min-width: 8.75rem;
  margin-left: 1rem;
  padding: .625rem 1.25rem;
  font-size: 1rem;
}

.fs-cc-banner_button.fs-cc-button-alt {
  border-color: var(--color--primary);
  color: var(--color--primary);
  background-color: #fff;
}

.bold-text {
  color: var(--color--primary);
}

.fs-cc-prefs_button {
  border: 2px solid var(--color--primary);
  background-color: var(--color--primary);
  margin-right: .5rem;
  padding: .625rem 1.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.fs-cc-prefs_button.fs-cc-button-alt {
  border-color: var(--color--primary);
  color: var(--color--primary);
  background-color: #fff;
}

.fs-cc-prefs_option {
  border-bottom: 1px solid #33333326;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fs-cc-prefs_component {
  z-index: 997;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding: 2rem;
  display: none;
  position: fixed;
  inset: 0%;
}

.fs-cc-prefs_space-medium {
  margin-bottom: 2.5rem;
}

.fs-cc-prefs_submit-hide {
  display: none;
}

.fs-cc-prefs_close {
  z-index: 100;
  color: #333;
  cursor: pointer;
  background-color: #f5f6ff;
  border-radius: 100%;
  padding: .625rem;
  font-size: 1.25rem;
  text-decoration: none;
  position: absolute;
  inset: -.75rem -.75rem auto auto;
  box-shadow: -1px 1px 12px #3333331a;
}

.fs-cc-banner_trigger, .fs-cc-manager_trigger {
  display: none;
}

.fs-cc-prefs_content {
  height: 100%;
  padding: 2.5rem 2rem;
  overflow: scroll;
}

.fs-cc-manager_component {
  z-index: 999;
  display: none;
  position: fixed;
  inset: auto auto 1.25rem 1.25rem;
}

.fs-cc-prefs_overlay {
  z-index: -1;
  background-color: #03052499;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.fs-cc-prefs_form {
  background-color: #fff;
  width: 100%;
  max-width: 36rem;
  height: 100%;
  max-height: 70vh;
  margin-bottom: 0;
  position: relative;
}

.fs-cc-prefs_title {
  color: var(--color--bg);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2em;
}

.fs-cc-prefs_close-icon {
  color: var(--color--primary);
  width: 1rem;
  height: 1rem;
}

.fs-cc-prefs_checkbox {
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  inset: 0%;
}

.fs-cc-manager_icon {
  color: var(--color--primary);
  width: 2rem;
  height: 2rem;
  transition: color .2s;
}

.fs-cc-manager_icon:hover {
  color: #e4c06b;
}

.fs-cc-prefs_toggle-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  display: flex;
}

.fs-cc-prefs_buttons-wrapper {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-right: -.5rem;
  display: flex;
}

.fs-cc-banner_container {
  align-items: center;
  width: 100%;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fs-cc-banner_component {
  z-index: 998;
  background-color: #fff;
  border-top: 1px solid #4353ff29;
  padding: 1.5rem 2rem;
  display: none;
  position: fixed;
  inset: auto 0% 0%;
}

.fs-cc-prefs_label {
  color: var(--color--primary);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.fs-cc-prefs_toggle {
  background-color: #fff;
  border-radius: 999px;
  width: 1.25rem;
  height: 1.25rem;
}

.fs-cc-banner_text {
  color: #616161;
  margin-right: 1.5rem;
}

.fs-cc-banner_buttons-wrapper {
  flex-direction: row;
  flex: none;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.fs-cc-banner_close-icon {
  color: var(--color--primary);
  width: 1.5rem;
  height: 1.5rem;
}

.fs-cc-banner_text-link {
  border-bottom: 2px solid var(--color--primary);
  color: var(--color--primary);
  font-weight: 400;
  text-decoration: none;
}

.fs-cc-prefs_checkbox-field {
  background-color: #ccc;
  border-radius: 999rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 2.75rem;
  height: 1.5rem;
  margin-bottom: 0;
  padding: .125rem;
  display: flex;
  position: relative;
}

.fs-cc-prefs_trigger {
  display: none;
}

.fs-cc-prefs_text {
  color: var(--color--bg);
  font-size: .75rem;
}

.fs-cc-prefs_checkbox-label {
  display: none;
}

.bold-text-2 {
  color: var(--color--primary);
}

.map-image {
  background-image: url('../images/maps.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.link {
  color: var(--color--primary);
}

.link.white {
  color: var(--color--offwhite);
}

.timeline_grid {
  grid-column-gap: 1.5em;
  grid-row-gap: 0em;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr .25fr 1fr;
  width: 100%;
}

.timeline_inner {
  grid-row-gap: 6em;
  flex-direction: column;
  display: flex;
}

.timeline_grid-wrap {
  position: relative;
}

.timeline_heading-wrap {
  grid-row-gap: 1em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.timeline_track-wrap {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.timeline_progress {
  z-index: 1;
  background-color: var(--color--primary);
  background-image: linear-gradient(to bottom, #ece8d3, var(--color--primary));
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 3px;
  height: 5%;
  display: flex;
  position: absolute;
  inset: 0% 0% auto 50%;
  transform: translate(-50%);
}

.timeline {
  margin-bottom: var(--margin--section-bottom);
  border-top: 1px solid var(--color--primary);
  border-bottom: 1px solid var(--color--primary);
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}

.timeline_track {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  width: 2px;
  height: 100%;
}

.timeline_dot {
  z-index: 1;
  background-color: var(--color--primary);
  border: 4px #0a227d;
  border-radius: 99px;
  width: 24px;
  height: 24px;
  position: relative;
}

.timeline_item {
  grid-row-gap: 1em;
  background-color: #fff;
  border: 3px solid #000;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 1.9em;
  padding: 2em;
  display: block;
}

.timeline_item.is-3 {
  margin-bottom: 0;
}

.difference {
  margin-bottom: var(--margin--section-bottom);
  padding-top: 64px;
}

.quote {
  color: var(--color--offwhite);
  font-style: italic;
  font-weight: 400;
}

.quote.mb-32 {
  border-left-width: 3px;
  border-left-color: var(--color--primary);
  max-width: 65ch;
  margin-bottom: 32px;
}

.rich-text {
  max-width: 65ch;
  margin-bottom: 48px;
}

.article {
  margin-bottom: var(--margin--section-bottom);
  padding-top: 0;
}

.text-201 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.286em;
}

.text-201.medium {
  font-weight: 500;
}

.text-201.medium.flex-horizontal {
  align-items: flex-start;
  display: flex;
}

.mg-right-4px {
  color: var(--color--offwhite);
  height: 100%;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 400;
}

.html-embed-4 {
  color: var(--color--offwhite);
  align-self: center;
}

.div-block-20 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.list {
  margin-bottom: 32px;
  padding-left: 0;
  list-style-type: none;
}

.center-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.uui-button-row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-button-row.button-row-center {
  justify-content: center;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-heading-xxsmall {
  color: var(--untitled-ui--gray900);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-layout92_image {
  width: 100%;
}

.uui-layout92_image.bw {
  filter: saturate(0%);
}

.uui-layout92_image-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.uui-layout92_item {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.uui-layout92_list {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-text-align-center {
  text-align: center;
}

.uui-layout92_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.button {
  border: 2px solid var(--color--primary);
  background-color: var(--color--primary);
  color: var(--waves-library--white);
  padding: .625rem 1.5rem;
  font-size: .875rem;
  font-weight: 700;
}

.button.outline {
  background-color: var(--waves-library--white);
  color: #c5a65d;
}

.frame {
  margin-bottom: var(--margin--section-bottom);
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.frame-wrapper {
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  display: flex;
  position: relative;
}

.image-quote {
  z-index: 1;
  opacity: .11;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-frame {
  z-index: 3;
  position: absolute;
}

.footer-new {
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-grid {
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.link-2 {
  color: #fff;
  text-decoration: underline;
}

.hero-heading {
  color: var(--color--offwhite);
  max-width: 30ch;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 1.2;
}

.container-4 {
  max-width: 1200px;
}

.html-embed-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.section {
  padding-top: 64px;
}

.meeting-button {
  background-color: var(--color--primary);
  color: #fff;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
  padding: 12px;
  text-decoration: none;
}

.sec_footer_logos {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer_logos_logo {
  opacity: .85;
  height: 150px;
}

.spacer-medium {
  width: 100%;
  height: 32px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero {
    background-image: linear-gradient(270deg, #c5a65d80, #fff0 45%), linear-gradient(#0009, #0009), url('../images/hero-squre.webp');
    background-position: 0 0, 0 0, 0%;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    margin-top: 0;
    margin-bottom: 64px;
    padding-top: 64px;
    padding-bottom: 128px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .about-grid {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .heading-1 {
    color: #fff;
  }

  .span-grey {
    color: #dbdbdb;
  }

  .div-block {
    width: 400px;
    height: 400px;
  }

  .logo {
    margin-bottom: 0;
  }

  .icon {
    color: var(--color--offwhite);
    font-size: 38px;
  }

  .map-wrapper {
    min-height: 400px;
  }

  .inline-image {
    width: 400px;
    height: 400px;
  }

  .nav-menu-2 {
    width: 100%;
    height: 100%;
  }

  .menu-icon_line-bottom {
    background-color: #fff;
    border-radius: 1rem;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle {
    background-color: #fff;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon_line-top {
    background-color: #fff;
    border-radius: 1rem;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .uui-navbar07_menu-button.w--open {
    background-color: #0000;
  }

  .uui-navbar07_button-wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
    display: flex;
  }

  .uui-navbar07_menu-right {
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    padding-bottom: 7rem;
  }

  .uui-navbar07_link {
    color: var(--color--offwhite);
    width: 100%;
    padding: .75rem 0;
    font-family: Lato, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
  }

  .uui-navbar07_link:hover {
    color: var(--color--primary);
  }

  .uui-text-size-small {
    display: none;
  }

  .uui-navbar07_item-heading {
    color: var(--color--offwhite);
    font-family: Lato, sans-serif;
    font-weight: 700;
  }

  .uui-navbar07_dropdown-link {
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar07_dropdown-link:hover {
    background-color: #0000;
  }

  .uui-navbar07_dropdown-link-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .uui-navbar07_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .uui-navbar07_dropdown-list.w--open {
    box-shadow: none;
    border-style: none;
    border-radius: 0;
    width: auto;
    padding: 0;
  }

  .uui-dropdown-icon {
    color: var(--color--offwhite);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    inset: auto 0% auto auto;
  }

  .uui-navbar07_dropdown-toggle {
    color: var(--color--offwhite);
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    font-size: 1.125rem;
    display: flex;
  }

  .uui-navbar07_dropdown-toggle:hover {
    color: var(--color--primary);
  }

  .uui-navbar07_menu-dropdown {
    width: 100%;
    position: relative;
  }

  .uui-navbar07_menu-left {
    grid-column-gap: 0px;
    grid-row-gap: .5rem;
    color: var(--color--offwhite);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .uui-navbar07_menu {
    border-top: 1px solid var(--untitled-ui--gray100);
    background-color: var(--color--bg);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    align-items: flex-start;
    height: 100vh;
    margin-left: 0;
    padding: 1.5rem 2rem 5rem;
    position: absolute;
    overflow: auto;
  }

  .text-block-4 {
    font-family: Lato, sans-serif;
    font-weight: 700;
  }

  .call-button, .mail-button {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    display: block;
  }

  .div-block-19 {
    display: none;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .fs-cc-banner_text {
    margin-right: 0;
  }

  .fs-cc-banner_buttons-wrapper {
    margin-top: 1rem;
  }

  .uui-layout92_list {
    grid-template-columns: 1fr 1fr;
  }

  .frame-wrapper {
    flex: none;
  }

  .hero-heading {
    color: #fff;
  }

  .meeting-button {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 12px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(270deg, #c5a65d80, #fff0 45%), linear-gradient(to bottom, null, null), url('../images/hero-squre.webp');
    background-position: 0 0, 0 0, 0%;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .navbar {
    margin-bottom: 64px;
  }

  .hero-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .about-grid {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .contact-grid {
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .heading-1 {
    font-size: 40px;
  }

  .paragraph {
    font-size: 16px;
  }

  .paragraph.frame-quote {
    font-size: 16px;
    line-height: 1.5;
  }

  .heading-2 {
    font-size: 28px;
  }

  .div-block {
    background-position: 50% 0;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .logo {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 22px;
  }

  .icon {
    color: var(--color--grey);
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .inline-image {
    background-image: url('../images/20240105-Thomas-Atelier-00021-1-min.jpeg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    margin: 32px 0 48px 13px;
    display: block;
  }

  .heading-3 {
    font-size: 20px;
  }

  .price {
    flex: none;
    margin-left: 8px;
  }

  .uui-navbar07_link {
    font-size: 1rem;
  }

  .uui-navbar07_dropdown-link-list {
    grid-row-gap: .5rem;
    max-width: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .uui-navbar07_dropdown-toggle {
    font-size: 1rem;
  }

  .uui-navbar07_menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-navbar07_component {
    min-height: 4.5rem;
  }

  .call-button, .div-block-12 {
    text-decoration: none;
  }

  .text-block-2 {
    font-size: 14px;
    text-decoration: none;
  }

  .mail-button {
    text-decoration: none;
  }

  .fs-cc-prefs_title {
    font-size: 1.25rem;
  }

  .fs-cc-banner_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline_grid {
    grid-template-columns: 5em 1fr;
  }

  .timeline_progress {
    inset: 0% auto auto 2.5em;
  }

  .timeline_dot {
    width: 20px;
    height: 20px;
  }

  .timeline_item-wrap.is-hidden-mobile {
    display: none;
  }

  .uui-button-wrapper.max-width-full-mobile-landscape {
    width: 100%;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .uui-button-row {
    align-self: stretch;
  }

  .uui-button-row.button-row-center.is-reverse-mobile-landscape, .uui-button-row.is-reverse-mobile-landscape {
    flex-direction: column-reverse;
  }

  .uui-heading-xxsmall {
    color: var(--color--primary);
    font-size: 1.125rem;
  }

  .uui-layout92_list {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .uui-space-xsmall {
    min-height: .75rem;
  }

  .uui-layout92_component {
    align-items: stretch;
  }

  .frame-wrapper {
    flex: none;
    width: 500px;
    height: 500px;
    padding: 128px;
  }

  .footer-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .hero-heading {
    font-size: 40px;
  }

  .meeting-button {
    text-decoration: none;
  }

  .sec_footer_logos {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero {
    background-image: linear-gradient(270deg, #c5a65d80, #fff0 45%), linear-gradient(to bottom, null, null), url('../images/hero-squre.webp');
    background-position: 0 0, 0 0, 0%;
  }

  .heading-1.small-mobile {
    font-size: 32px;
  }

  .paragraph.list-item {
    padding-left: 30px;
  }

  .paragraph.left {
    align-self: flex-start;
  }

  .heading-2 {
    font-size: 24px;
  }

  .logo {
    font-size: 20px;
  }

  .brand {
    padding-left: 0;
  }

  .map-wrapper {
    min-height: 400px;
  }

  .heading-3 {
    font-size: 18px;
  }

  .heading-3.nobm {
    margin-bottom: 0;
  }

  .menu-icon_line-bottom {
    background-color: #fff;
  }

  .menu-icon_line-middle-inner {
    color: #fff;
  }

  .menu-icon_line-middle, .menu-icon_line-top {
    background-color: #fff;
  }

  .uui-navbar07_dropdown-link {
    padding-left: 0;
  }

  .text-block-2 {
    align-self: center;
  }

  .fs-cc-banner_close {
    position: absolute;
    inset: -1.5rem .75rem auto auto;
  }

  .fs-cc-banner_button {
    width: 100%;
    margin-bottom: .5rem;
    margin-left: 0;
  }

  .fs-cc-prefs_button {
    margin-bottom: .5rem;
  }

  .fs-cc-prefs_component, .fs-cc-prefs_content {
    padding: 1.5rem;
  }

  .fs-cc-banner_buttons-wrapper {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  .timeline_grid {
    grid-column-gap: 8px;
    grid-template-columns: 2em 1fr;
  }

  .timeline_progress {
    left: 1em;
  }

  .timeline {
    overflow: hidden;
  }

  .timeline_dot {
    width: 1.2rem;
    height: 1.2rem;
  }

  .timeline_item {
    padding: 24px;
  }

  .quote.mb-32 {
    font-size: 16px;
  }

  .uui-heading-xxsmall {
    align-self: flex-start;
  }

  .uui-layout92_item, .uui-text-align-center {
    text-align: left;
  }

  .button {
    align-self: flex-start;
    margin-bottom: .5rem;
  }

  .button.nav {
    align-self: auto;
  }

  .frame-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .image-frame {
    flex: none;
    min-width: 360px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer_logos_logo {
    height: 100px;
  }
}

#w-node-b5ce0d93-b62d-eb12-03d9-7a31efe16fd2-83d5addd, #w-node-_379ec8ee-5244-a3d6-0a6e-8c85d87b853d-83d5addd, #w-node-_65acd2e6-d95f-8f15-3dd1-1d2f0242d9e5-83d5addd, #w-node-_6c4812ef-1e9d-2d81-a552-ef8c82062841-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949774-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949775-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949777-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec294977d-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949783-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949785-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949786-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec2949787-83d5addd, #w-node-_2a103ba5-8385-d3dc-167d-166ec294978a-83d5addd, #w-node-bc948302-2145-b41a-6bcf-4ba6760dea61-83d5addd, #w-node-_7ac69696-0dba-6387-e754-ddda2b352b39-83d5addd, #w-node-d6f02e79-3aad-8323-b2ba-5a774b5ed285-4b5ed282, #w-node-d6f02e79-3aad-8323-b2ba-5a774b5ed28f-4b5ed282, #w-node-d6f02e79-3aad-8323-b2ba-5a774b5ed298-4b5ed282, #w-node-d6f02e79-3aad-8323-b2ba-5a774b5ed29f-4b5ed282, #w-node-c10dd6de-8d6d-fcd1-ccb5-f1e9209aafbd-83d5ade0, #w-node-cadbe04f-711b-bf43-06a2-a6f3809591c0-83d5ade0, #w-node-c4e392fd-5d65-2dcf-a7ec-0168c5eb44fe-83d5ade0, #w-node-_7f835b4a-c9a2-2408-653d-c40ccd85bc56-83d5ade0, #w-node-_0174e153-6bdd-e9c7-64bc-5917ad923447-83d5ade0, #w-node-_2707e19f-3637-fe51-0b17-47d26c9a56ed-83d5ade0, #w-node-_1a2015c9-3656-49d3-e24c-17122bdeecd1-83d5ade0, #w-node-c2c12bc3-50f6-54c9-020e-8c771f7b345e-83d5ade0, #w-node-_78535d51-b58f-6aae-3416-1c1bf45d7bf6-83d5ade0, #w-node-bceb9a3f-54b6-b56f-48d0-a54613e2dc5f-83d5ade0, #w-node-_989ee345-adb1-8a13-38a9-7947af43c316-83d5ade0, #w-node-_93ac21c6-c9e6-ca49-9227-e31d9de5963b-83d5ade0, #w-node-_154d2c51-6b9a-4ed4-8bd9-9e6784029121-83d5ade0, #w-node-_48214dce-d2e7-d9e5-030c-7ebd00ba20a2-83d5ade0, #w-node-e3243860-affa-72fe-2261-09ed4f842485-83d5ade0, #w-node-_868250ef-86b0-9b88-c7d7-b625ebe8e524-83d5ade0, #w-node-d2545b7e-6abd-0306-c47c-1b2af53979b4-83d5ade0, #w-node-_5b928bbe-1dbb-d901-887d-14e0f4f62682-83d5ade0, #w-node-a1f1936f-3f89-abe4-1ad5-11efd5699dca-83d5ade0, #w-node-ad8a7003-44ef-a116-2b9a-5332c8d8bb88-83d5ade0, #w-node-_581419ad-36c3-c8ca-7617-128b48330c98-83d5ade0, #w-node-_9adb35e2-0f6f-974f-8fb8-3dcbb66f5a2d-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630bed3-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630be7f-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630be86-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630be8d-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630be78-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630be94-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630be9b-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630bea2-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630bea9-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630beb0-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630beb7-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630bebe-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630bec5-83d5ade0, #w-node-_9f453899-df32-6c52-9fe3-3dc32630becc-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf0b-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf12-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf19-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf20-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf27-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf2e-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf35-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf3c-83d5ade0, #w-node-a4fad054-09eb-cec6-230c-242fccaacf43-83d5ade0, #w-node-_43b21378-657a-d120-3dc9-f1547ff2061c-83d5ade0, #w-node-_43b21378-657a-d120-3dc9-f1547ff20623-83d5ade0, #w-node-_43b21378-657a-d120-3dc9-f1547ff2062a-83d5ade0, #w-node-c957d0d5-9e0e-7749-28d3-7b95f565c1c9-83d5ade0, #w-node-c957d0d5-9e0e-7749-28d3-7b95f565c1d0-83d5ade0, #w-node-c957d0d5-9e0e-7749-28d3-7b95f565c1d7-83d5ade0, #w-node-_281f5181-4c43-790c-e1ff-fe82814b15bb-83d5ade0, #w-node-e239321a-4fc1-02df-a68a-0862f3e7c990-83d5ade0, #w-node-cee9fa86-82b9-1191-18dc-2570fcbe716d-83d5ade0, #w-node-_2b665e52-0068-9a7d-3dc3-710276e73736-83d5ade0, #w-node-_81a37b08-df3c-9bbe-5da0-e54f3244697a-83d5ade0, #w-node-eec24781-3c79-5413-aa68-569aa47fd6ed-83d5ade0, #w-node-fe9fc47a-3529-bf12-5aae-e742d2b8eac4-83d5ade0, #w-node-_7d69e5f4-abb1-e8dd-5d4f-38f6fc6f2ece-83d5ade0, #w-node-_2e400455-7f3a-5d64-c13c-e5deefaa2633-83d5ade0, #w-node-_92f013ff-c77d-2bd1-23e6-bd27cfb481d0-83d5ade0, #w-node-_9bbcd7c0-fca4-f39c-1601-d52ae448293c-83d5ade0, #w-node-fcd04f48-a8e8-235f-6827-6d38109f0402-83d5ade0, #w-node-c5f969e6-830c-7b62-b223-9875765e7451-83d5ade0, #w-node-c5f969e6-830c-7b62-b223-9875765e7458-83d5ade0, #w-node-c5f969e6-830c-7b62-b223-9875765e745f-83d5ade0, #w-node-c5f969e6-830c-7b62-b223-9875765e7466-83d5ade0, #w-node-abcf0c26-c071-9e1f-55e6-26c0deb2d3d1-83d5ade0, #w-node-abcf0c26-c071-9e1f-55e6-26c0deb2d3d8-83d5ade0, #w-node-abcf0c26-c071-9e1f-55e6-26c0deb2d3df-83d5ade0, #w-node-abcf0c26-c071-9e1f-55e6-26c0deb2d3e6-83d5ade0, #w-node-_8a64a3e1-19a5-e6f1-2d95-dfd13ec61e43-83d5ade0, #w-node-_8eee30af-e62a-060f-1dd0-ce85dbc62397-83d5ade0, #w-node-_1910447a-c767-ae66-1e20-68da94e73291-83d5ade0, #w-node-_2c68e48d-7195-3991-820b-6bda4982dbab-83d5ade0, #w-node-_2c68e48d-7195-3991-820b-6bda4982dbb2-83d5ade0, #w-node-_2c68e48d-7195-3991-820b-6bda4982dbb9-83d5ade0, #w-node-_2c68e48d-7195-3991-820b-6bda4982dbc0-83d5ade0, #w-node-_0fc34689-8be8-65d9-8dd7-d90a4d5e31ce-83d5ade0, #w-node-_0fc34689-8be8-65d9-8dd7-d90a4d5e31d5-83d5ade0, #w-node-_0fc34689-8be8-65d9-8dd7-d90a4d5e31dc-83d5ade0, #w-node-_77ee29bd-ab23-96e7-2477-bc14a04639d2-83d5ade0, #w-node-_74a91f2f-75b7-dfa5-025d-91f980bfc6aa-83d5ade0, #w-node-_74a91f2f-75b7-dfa5-025d-91f980bfc6b1-83d5ade0, #w-node-_6ede7492-4db0-0905-475e-5f1adae44490-83d5ade0, #w-node-_6ede7492-4db0-0905-475e-5f1adae44497-83d5ade0, #w-node-_35d59bd6-072b-6fba-6066-abb9d6b77e19-83d5ade0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_6c4812ef-1e9d-2d81-a552-ef8c82062841-83d5addd {
    order: -9999;
  }

  #w-node-_2a103ba5-8385-d3dc-167d-166ec294977d-83d5addd {
    grid-area: 2 / 2 / 3 / 3;
  }
}


